doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title #{title}
    link(rel="stylesheet" href="/style.css" type="text/css")
    link(rel="icon" type="image/x-icon" href="/media/favi-icon.ico?v=1")
    script(src="/script.js" defer)
    
  body
    block nav 
      nav.navbar     
        ul
          li 
            a(href="/jokebook/random") Random Joke
          li 
            a(href="/jokebook/all") All Categories
          li 
            a(href="#") Third Page 
        ul.search-box 
          li 
            input(type="text" placeholder="Search By Category..").search-bar
    block layout-content
